* {
    font-family:Rockwell;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #36525d;
}

nav {
    font-size: 15px;
    text-align: right;
    position: absolute;
    right: 30px;
    top: 30px;
}

#nav {
    text-decoration: none;
}

#nav:hover {
    text-decoration: none;
}

h1 {
    font-size:40px;
    text-align: center;
    padding: 220px;
    background-color:aqua;
    border-bottom-left-radius: 1em;
    box-shadow: -60px 16px #eccc80;


}

footer {
    height: 480px;
    width: 100%;
    background-color: #eccc80;
    border-top-right-radius: 1em;
    box-shadow: 60px -16px aqua;
}

#copyrightnote {
    text-align: center;
    position: relative; 
    top: 95%;

}